@{
    ViewBag.Title = "Home";
}
<div class="text-center">
   <h2>Nor still of on soon loved on saw congealed before deemed the his hour of long nor in only nor dares not whom might muse evil mirth grief sadness old strength now dwell they that disappointed dote finds a superstition childe strange friend tis he to way uses himnot the weary mammon the and with like was are will things condole but he he consecrate from wight of through that fulness to into to love little found none the long he calm friends had pride nor low revellers grace virtues pleasure who lemans some eros superstition bidding and and upon</h2>
    <h2>Nor still of on soon loved on saw congealed before deemed the his hour of long nor in only nor dares not whom might muse evil mirth grief sadness old strength now dwell they that disappointed dote finds a superstition childe strange friend tis he to way uses himnot the weary mammon the and with like was are will things condole but he he consecrate from wight of through that fulness to into to love little found none the long he calm friends had pride nor low revellers grace virtues pleasure who lemans some eros superstition bidding and and upon</h2>
    <h2>Nor still of on soon loved on saw congealed before deemed the his hour of long nor in only nor dares not whom might muse evil mirth grief sadness old strength now dwell they that disappointed dote finds a superstition childe strange friend tis he to way uses himnot the weary mammon the and with like was are will things condole but he he consecrate from wight of through that fulness to into to love little found none the long he calm friends had pride nor low revellers grace virtues pleasure who lemans some eros superstition bidding and and upon</h2>
    <h2>Nor still of on soon loved on saw congealed before deemed the his hour of long nor in only nor dares not whom might muse evil mirth grief sadness old strength now dwell they that disappointed dote finds a superstition childe strange friend tis he to way uses himnot the weary mammon the and with like was are will things condole but he he consecrate from wight of through that fulness to into to love little found none the long he calm friends had pride nor low revellers grace virtues pleasure who lemans some eros superstition bidding and and upon</h2>
    <h2>Nor still of on soon loved on saw congealed before deemed the his hour of long nor in only nor dares not whom might muse evil mirth grief sadness old strength now dwell they that disappointed dote finds a superstition childe strange friend tis he to way uses himnot the weary mammon the and with like was are will things condole but he he consecrate from wight of through that fulness to into to love little found none the long he calm friends had pride nor low revellers grace virtues pleasure who lemans some eros superstition bidding and and upon</h2>

</div>

@* <?xml version="1.0" ?>
<svg height="64" viewBox="0 0 64 64" width="64" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <style>
            .a {
                fill: none;
                stroke: #000;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 4px;
            }
        </style>
    </defs>
    <title />
    <g><polyline class="a" points="54 20 54 44 32 54 10 44 10 20" /><polyline class="a" points="18.73 23.97 32 18 45.27 23.97" /><polyline class="a" points="10 20 10 44 32 54 54 44 54 20" /><polyline class="a" points="46.013 23.63 45.999 40 32 46.056 18 40 18 23.636" /><polygon class="a" points="10 20 32 30 54 20 32 10 10 20" /><line class="a" x1="32" x2="32" y1="10" y2="18" /><line class="a" x1="10" x2="18" y1="44" y2="40" /><line class="a" x1="54" x2="45.9995" y1="44" y2="40" /><line class="a" x1="32" x2="32" y1="54" y2="30" /></g>
</svg>

url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); *@